<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="jstc" type="JSTC.Config.JSTCConfigurationSection, JSTC" allowLocation="true" allowDefinition="Everywhere"/>
    </configSections>
    <jstc path="." extension=".tmpl.html" jsObject="templates" initJsObject="true"/>
</configuration>