<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="jstc" type="JSTC.Config.JSTCConfigurationSection, JSTC" allowLocation="true" allowDefinition="Everywhere"/>
    </configSections>
    <jstc path="C:\src\JSTemplateCompiler\JSTC.Tests" output="C:\src\JSTemplateCompiler\JSTC.Tests\Output\template.js" extension=".tmpl.html" jsObject="templates" initJsObject="true"/>
</configuration>